/* line 9, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.nav {
  height: 90px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* line 19, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.logo,
.logoB {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 100%;
  border: solid 2px #7cfc00;
  cursor: pointer;
}

/* line 29, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.logoB {
  height: 40px;
  width: 40px;
  position: relative;
  top: 10px;
  left: 20px;
}

/* line 37, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.nav-links a {
  padding: 15px;
  color: white;
  height: 50px;
  display: inline-block;
}

/* line 44, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.nav-links a:hover {
  color: #7cfc00;
}

/* line 48, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.splash-main {
  background: url("https://s3-us-west-1.amazonaws.com/react-spotify-aa/gradient.png");
  height: 100vh;
}

/* line 53, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.splash {
  padding-top: 90px;
  width: 700px;
  margin: auto;
  text-align: center;
}
/* line 59, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.splash h1 {
  color: white;
  font-size: 65px;
  margin-top: 75px;
  margin-bottom: 20px;
}
/* line 66, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.splash h2 {
  color: white;
  font-size: 24px;
}

/* line 72, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.splash-ul {
  margin-top: 20px;
}
/* line 74, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.splash-ul li {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

/* line 82, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.login,
.session-form button,
.logout,
.new-playlist {
  padding: 10px 40px;
  border: none;
  border-radius: 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  margin: 0px 5px 20px 5px;
  box-shadow: 0px 0px 10px 0px rgba(235, 124, 235, 0.568);
}

/* line 96, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.login,
.session-form button:first-of-type {
  background-color: #7cfc00;
}

/* line 101, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.login:hover,
.session-form button:first-of-type:hover {
  background-color: #66c408;
}

/* line 106, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.demo,
.logout {
  background-color: #00d6fc;
}

/* line 111, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.demo:hover,
.logout:hover {
  background-color: #0ac5e6;
}

/* line 116, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.session-form {
  background: url("https://s3-us-west-1.amazonaws.com/react-spotify-aa/gradient.png");
  height: 100vh;
  padding-top: 50px;
}
/* line 121, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.session-form form {
  width: 400px;
  border-radius: 3px;
  height: 600px;
  background: rgba(255, 255, 255, 0.7);
  margin: auto;
  padding: 20px;
  text-align: center;
}
/* line 130, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.session-form form h1 {
  margin: 30px 0px;
}
/* line 134, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.session-form form input {
  padding: 10px;
  display: block;
  border: none;
  width: 80%;
  text-align: center;
  margin: auto;
  border-radius: 3px;
  border: solid 3px rgba(255, 255, 255, 0.3);
  font-size: 24px;
}
/* line 145, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.session-form form input:active,
.session-form form input:focus {
  border: solid 3px #7cfc00;
}
/* line 150, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.session-form form h2 a {
  color: #0ac5e6;
  cursor: pointer;
}
/* line 154, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.session-form form h2 a:hover {
  color: #00d6fc;
}

/* line 160, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.browse {
  height: 100vh;
  background: url("https://s3-us-west-1.amazonaws.com/react-spotify-aa/gradient.png");
  -webkit-filter: hue-rotate(-90deg);
  filter: hue-rotate(-90deg);
}
/* line 165, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.browse .color-fix {
  height: 100vh;
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}
/* line 171, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.browse .song {
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
/* line 179, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.browse .song > div {
  display: flex;
}
/* line 183, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.browse .song-icon-container {
  height: 20px;
  width: 16px;
  margin-right: 10px;
}
/* line 189, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.browse .song .fa-play {
  display: none;
  font-size: 12px;
  border-radius: 100%;
  margin-top: 4px;
}
/* line 196, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.browse .song span {
  display: block;
}
/* line 200, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.browse .song:hover {
  background: #5d039183;
}
/* line 204, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.browse .song:hover .fa-play {
  display: block;
}
/* line 208, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.browse .song:hover span {
  display: none;
}

/* line 213, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.sidebar {
  width: 200px;
  height: -webkit-calc(100vh - 90px);
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}
/* line 218, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.sidebar .logout {
  position: absolute;
  bottom: 0px;
  left: 20px;
}

/* line 225, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.error {
  color: red;
  min-height: 30px;
  padding: 5px 0px;
  font-size: 12px;
}

/* line 232, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player {
  height: 90px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #29212ecc;
  padding-top: 15px;
}
/* line 240, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .player-buttons {
  margin: auto;
  text-align: center;
}
/* line 244, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .player-buttons .back,
.player .player-buttons .forward {
  height: 20px;
  width: 20px;
  border: none;
  color: white;
  font-size: 12px;
}
/* line 252, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .player-buttons .play {
  height: 40px;
  width: 40px;
  padding-left: 2px;
  margin: 0px 10px;
  color: white;
  border: solid 1px white;
  border-radius: 100%;
  font-size: 12px;
}
/* line 264, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .progress-container {
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
/* line 269, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .progress-container .progress {
  cursor: pointer;
  width: 400px;
}
/* line 275, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .volume-container {
  position: absolute;
  right: 20px;
  bottom: 30px;
}
/* line 279, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .volume-container .volume {
  cursor: pointer;
  width: 200px;
}
/* line 285, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .song-info {
  display: flex;
  position: absolute;
  left: 15px;
  top: 15px;
}
/* line 290, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .song-info img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}
/* line 295, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .song-info div {
  padding: 15px 5px 10px 10px;
}
/* line 297, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .song-info div h4,
.player .song-info div h5 {
  font-size: 12px;
  color: white;
}
/* line 302, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.player .song-info div h5 {
  color: rgba(222, 200, 228, 0.719);
}

/* line 309, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.main {
  position: absolute;
  top: 0;
  right: 0;
  height: -webkit-calc(100vh - 90px);
  width: -webkit-calc(100vw - 200px);
  padding: 20px;
  overflow: scroll;
}
/* line 318, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.main .main-nav {
  height: 60px;
  width: 100%;
  position: relative;
}
/* line 323, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.main .main-nav ul {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 300px;
}
/* line 329, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.main .main-nav ul li {
  color: #ddd;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 336, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.main .main-nav ul li:hover {
  color: #fff;
}
/* line 341, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.main .main-nav .new-playlist {
  position: absolute;
  right: 0;
  top: -10px;
  padding: 10px 15px;
  background-color: #7708b8;
  font-size: 11px;
  text-transform: uppercase;
}
/* line 350, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.main .main-nav .new-playlist:hover {
  background-color: #5d0391;
}

/* line 356, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.media-card {
  height: 250px;
  width: 170px;
  margin: 0px 5px;
  text-align: center;
  position: relative;
  color: white;
  font-size: 14px;
}
/* line 365, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.media-card img {
  display: block;
  height: 170px;
  width: 170px;
  box-shadow: 0px 0px 5px 1px #5d0391;
}
/* line 372, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.media-card h4,
.media-card h5 {
  width: 80%;
  margin: auto;
  margin-top: 5px;
}
/* line 379, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.media-card h5 {
  color: rgba(222, 200, 228, 0.719);
}
/* line 383, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.media-card .media-play {
  font-size: 30px;
  height: 60px;
  width: 60px;
  border: solid 1px white;
  border-radius: 100%;
  color: white;
  position: absolute;
  top: 55px;
  left: 55px;
}

/* line 396, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.media-overlay,
.media-overlay-selected {
  background: #350153bd;
  height: 170px;
  width: 170px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 406, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.media-card .media-overlay {
  display: none;
}

/* line 410, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.media-card:hover .media-overlay {
  display: block;
}

/* line 414, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.albums {
  display: flex;
  flex-wrap: wrap;
}

/* line 419, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.album-show {
  display: flex;
  height: 100%;
}
/* line 423, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.album-show .album-show-artist {
  padding: 0px 40px 0px 20px;
}
/* line 427, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.album-show ul {
  width: 100%;
  overflow: scroll;
}
/* line 432, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.album-show h4,
.album-show h5 {
  text-align: center;
  color: white;
  width: 80%;
  margin: auto;
}
/* line 440, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.album-show h4 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 446, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.album-show h5 {
  font-size: 14px;
  color: rgba(222, 200, 228, 0.719);
}
/* line 451, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/main.scss */
.album-show .album-back {
  position: absolute;
  border: none;
  color: white;
  font-size: 24px;
  bottom: 30px;
  left: 30px;
}
