/* line 1, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-links {
  margin-top: 20px;
  border-top: solid 1px #444;
}
/* line 4, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-links li {
  color: white;
  cursor: pointer;
  margin: 5px 0px;
  padding-left: 5px;
  font-size: 14px;
}
/* line 12, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-links li:hover {
  text-shadow: 0px 0px 3px #39f339;
}

/* line 17, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* line 26, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content {
  width: 300px;
  min-width: 300px;
  min-height: auto;
  height: auto;
  background: #0b0216;
  color: white;
  position: absolute;
  left: calc(50% - 150px);
  top: 100px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #fff;
  overflow: hidden;
  text-align: center;
  transition: min-width 1s, width 1s, height 1s, min-height 1s, left 1s, top 1s;
}
/* line 43, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content p {
  font-size: 12px;
  margin: 10px 0px 20px 0px;
}
/* line 49, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content form input[type='text'],
.create-modal-content form input[type='number'] {
  border: solid 1px #222;
  padding: 6px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 3px;
  text-align: center;
  width: 200px;
}
/* line 60, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content form p {
  padding: 0px 10px;
}
/* line 64, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content form h2 {
  padding: 10px 10px 0px 10px;
}
/* line 68, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content select {
  margin-top: 20px;
  width: 200px;
}
/* line 73, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content button {
  background: #370b72;
  color: white;
  display: block;
  margin: auto;
  padding: 5px 8px;
  border: none;
  margin-top: 20px;
  border-radius: 3px;
}

/* line 85, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.image-input {
  height: 120px;
  width: 120px;
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
  overflow: hidden;
}
/* line 93, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.image-input img,
.image-input input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: inherit;
  width: inherit;
}
/* line 104, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.image-input img {
  object-fit: cover;
}
/* line 108, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.image-input img[src='#']::after {
  display: block;
  content: '+';
  text-align: right;
  padding-right: 10px;
  padding-top: -10px;
  color: black;
  font-size: 50px;
  line-height: 50px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/assets/microphone-3cb323fb3de15529a700e4b0a5bc131d4142f15ad45c26f6394b4fd83ff07e2a.jpg);
  background-size: contain;
}
/* line 127, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.image-input input {
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

/* line 134, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content.youtube {
  min-width: 700px;
  width: 90vw;
  left: calc(50% - 45vw);
  min-height: 600px;
  top: 50px;
}
/* line 141, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content.youtube p {
  margin-bottom: 0;
}
/* line 145, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content.youtube select {
  margin-left: 5px;
}
/* line 149, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.create-modal-content.youtube .modal-tab-view {
  height: 433px;
}

/* line 154, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.modal-tabs {
  display: flex;
}
/* line 156, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.modal-tabs li {
  border-radius: 8px 8px 0px 0px;
  background: #16032c;
  margin: 20px 0px 0px 0px;
  padding: 10px;
  width: 55%;
  border: solid 1px #370b72;
}
/* line 165, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.modal-tabs li.active {
  background: #130325;
  border-bottom: none;
}

/* line 171, /Users/andywynkoop/Desktop/search/projects/Spotify/app/assets/stylesheets/modal.scss */
.modal-tab-view {
  background: #130325;
  padding: 15px 0px 20px 0px;
}
