$green: #7cfc00;
$green2: #66c408;
$blue: #00d6fc;
$blue2: #0ac5e6;
$grey: #29212ecc;
$purple: #7708b8;
$purple2: #5d0391;
$pink-1: #de6a9e;

.nav {
	height: 90px;
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.logo,
.logoB {
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 100%;
	border: solid 2px $green;
	cursor: pointer;
}

.logoB {
	height: 40px;
	width: 40px;
	position: relative;
	top: 10px;
	left: 20px;
}

.nav-links a {
	padding: 15px;
	color: white;
	height: 50px;
	display: inline-block;
}

.nav-links a:hover {
	color: $green;
}

.splash-main {
	background: url('https://s3-us-west-1.amazonaws.com/react-spotify-aa/gradient.png');
	height: 100vh;
}

.splash {
	padding-top: 90px;
	width: 700px;
	margin: auto;
	text-align: center;

	h1 {
		color: white;
		font-size: 65px;
		margin-top: 75px;
		margin-bottom: 20px;
	}

	h2 {
		color: white;
		font-size: 24px;
	}
}

.splash-ul {
	margin-top: 20px;
	li {
		color: white;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 10px;
	}
}

.login,
.session-form button,
.logout,
.new-playlist {
	padding: 10px 40px;
	border: none;
	border-radius: 20px 20px;
	font-size: 11px;
	text-transform: uppercase;
	color: white;
	margin: 0px 5px 20px 5px;
	box-shadow: 0px 0px 10px 0px rgba(235, 124, 235, 0.568);
}

.login,
.session-form button:first-of-type {
	background-color: $green;
}

.login:hover,
.session-form button:first-of-type:hover {
	background-color: $green2;
}

.demo,
.logout {
	background-color: $blue;
}

.demo:hover,
.logout:hover {
	background-color: $blue2;
}

.session-form {
	background: url('https://s3-us-west-1.amazonaws.com/react-spotify-aa/gradient.png');
	height: 100vh;
	padding-top: 50px;

	form {
		width: 400px;
		border-radius: 3px;
		height: 600px;
		background: rgba(255, 255, 255, 0.7);
		margin: auto;
		padding: 20px;
		text-align: center;

		h1 {
			margin: 30px 0px;
		}

		input {
			padding: 10px;
			display: block;
			border: none;
			width: 80%;
			text-align: center;
			margin: auto;
			border-radius: 3px;
			border: solid 3px rgba(255, 255, 255, 0.3);
			font-size: 24px;
		}
		input:active,
		input:focus {
			border: solid 3px $green;
		}

		h2 a {
			color: $blue2;
			cursor: pointer;
		}
		h2 a:hover {
			color: $blue;
		}
	}
}

.browse {
	height: 100vh;
	background: url('https://s3-us-west-1.amazonaws.com/react-spotify-aa/gradient.png');
	-webkit-filter: hue-rotate(-90deg);
	filter: hue-rotate(-90deg);
	.color-fix {
		height: 100vh;
		-webkit-filter: hue-rotate(90deg);
		filter: hue-rotate(90deg);
	}

	.song {
		color: white;
		font-size: 14px;
		display: flex;
		justify-content: space-between;
		padding: 10px 15px;
	}

	.song > div {
		display: flex;
	}

	.song-icon-container {
		height: 60px;
		position: relative;

		img {
			height: 60px;
			width: 60px;
			object-fit: cover;
		}
	}

	.song .fa-play {
		display: none;
		font-size: 30px;
		line-height: 30px;
	}

	.song > i {
		margin: 21px 15px 0px 0px;
		font-size: 16px;
	}

	.song:hover {
		background: #5d039183;
	}

	.song:hover .fa-play {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 16px 0px 0px 17px;
		width: 60px;
		height: 60px;
	}

	.song .fa-pause {
		font-size: 30px;
		line-height: 30px;
		width: 60px;
		height: 60px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 16px 0px 0px 17px;
	}
	.song:hover span {
		display: none;
	}

	.song .song-info {
		margin-left: 10px;
		cursor: pointer;
		h4 {
			font-size: 14px;
			margin: 10px 0px 3px 0px;
		}
		p {
			font-size: 10px;
			color: rgba(255, 255, 255, 0.753);
		}
	}
}

.sidebar {
	width: 200px;
	height: unquote('-webkit-calc(100vh - 90px)');
	background: rgba(0, 0, 0, 0.8);
	position: relative;
	.logout {
		position: absolute;
		bottom: 0px;
		right: 44px;
		padding: 10px 30px;
	}
}

.sidebar > p {
	color: white;
	margin-top: 20px;
	padding-bottom: 5px;
	border-bottom: solid 1px #444;
	font-size: 14px;
}

.error {
	color: red;
	min-height: 30px;
	padding: 5px 0px;
	font-size: 12px;
}

.player {
	height: 90px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $grey;
	padding-top: 15px;

	.player-buttons {
		margin: auto;
		text-align: center;

		.back,
		.forward {
			height: 20px;
			width: 20px;
			border: none;
			color: white;
			font-size: 12px;
		}
		.play {
			height: 40px;
			width: 40px;
			padding-left: 2px;
			margin: 0px 10px;
			color: white;
			border: solid 1px white;
			border-radius: 100%;
			font-size: 12px;
		}
	}

	.progress-container {
		margin: auto;
		text-align: center;
		margin-top: 10px;

		.progress {
			cursor: pointer;
			width: 400px;
		}
	}

	.volume-container {
		position: absolute;
		right: 20px;
		bottom: 30px;
		.volume {
			cursor: pointer;
			width: 200px;
		}
	}

	.song-info {
		display: flex;
		position: absolute;
		left: 15px;
		top: 15px;
		cursor: pointer;
		img {
			height: 60px;
			width: 60px;
			object-fit: cover;
		}
		div {
			padding: 15px 5px 10px 10px;
			h4,
			h5 {
				font-size: 12px;
				color: white;
			}
			h5 {
				color: rgba(222, 200, 228, 0.719);
			}
		}
	}
}

.main {
	position: absolute;
	top: 0;
	right: 0;
	height: unquote('-webkit-calc(100vh - 90px)');
	width: unquote('-webkit-calc(100vw - 200px)');
	overflow: scroll;
	padding-top: 60px;

	.main-nav {
		height: 60px;
		width: calc(100vw - 200px);
		padding-top: 20px;
		position: fixed;
		z-index: 1;
		top: 0px;
		background: rgba(12, 99, 187, 0.596);

		ul {
			display: flex;
			justify-content: space-between;
			margin: auto;
			width: 300px;

			li {
				color: #ddd;
				font-size: 12px;
				text-transform: uppercase;
				cursor: pointer;
			}

			li:hover {
				color: #fff;
			}
		}
	}
}
.new-playlist {
	position: absolute;
	right: 44px;
	bottom: 60px;
	padding: 10px 15px;
	background-color: $purple;
	font-size: 11px;
	text-transform: uppercase;
}
.new-playlist:hover {
	background-color: $purple2;
}

.media-card {
	height: 250px;
	width: 170px;
	margin: 0px 5px;
	text-align: center;
	position: relative;
	color: white;
	font-size: 14px;

	img {
		display: block;
		height: 170px;
		width: 170px;
		box-shadow: 0px 0px 5px 1px #5d0391;
	}

	h4,
	h5 {
		width: 80%;
		margin: auto;
		margin-top: 5px;
	}

	h5 {
		color: rgba(222, 200, 228, 0.719);
	}

	.media-play {
		font-size: 30px;
		height: 60px;
		width: 60px;
		border: solid 1px white;
		border-radius: 100%;
		color: white;
		position: absolute;
		top: 55px;
		left: 55px;
	}
}

.media-overlay,
.media-overlay-selected {
	background: #350153bd;
	height: 170px;
	width: 170px;
	position: absolute;
	top: 0;
	left: 0;
}

.media-card .media-overlay {
	display: none;
}

.media-card:hover .media-overlay {
	display: block;
}

.albums {
	display: flex;
	flex-wrap: wrap;
	padding-left: 30px;
}

.album-show {
	display: flex;

	.song-icon-container img {
		display: none;
	}

	.song-info {
		margin-left: 70px;
		width: 220px;
		text-align: left;

		p,
		h4 {
			text-align: left;
		}
	}

	.album-show-artist {
		padding: 0px 40px 0px 20px;
		img {
			width: 300px;
		}
	}

	ul {
		width: 100%;
		overflow: scroll;
	}

	h4,
	h5 {
		text-align: center;
		color: white;
		width: 80%;
		margin: auto;
	}

	h4 {
		font-size: 24px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	h5 {
		font-size: 14px;
		color: rgba(222, 200, 228, 0.719);
	}

	.album-back {
		position: absolute;
		border: none;
		color: white;
		font-size: 24px;
		bottom: 30px;
		left: 30px;
	}
}
.artist-show {
	height: 100%;
	margin-top: -60px;
	.artist-show-jumbotron {
		position: relative;
		margin-bottom: 30px;

		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}

		h5 {
			position: absolute;
			bottom: 30px;
			left: 30px;
			font-size: 60px;
			color: white;
			text-shadow: 0px 0px 5px #666;
		}

		button {
			position: absolute;
			bottom: 30px;
			right: 20px;
			padding: 10px 20px;
			color: white;
			border-radius: 20px;
			box-shadow: 0px 0px 5px #666;
			text-shadow: 0px 0px 5px #666;
		}

		button:hover {
			border-color: $pink-1;
			box-shadow: 0px 0px 5px $pink-1;
		}
	}
}

.artist-back {
	position: fixed;
	top: 30px;
	left: 230px;
	border: none;
	font-size: 40px;
	color: white;
}

.artist-back:hover {
	color: $pink-1;
}

.playlist-item {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	> div {
		display: flex;
	}

	> i {
		position: relative;
		top: 20px;
		right: 20px;
		cursor: pointer;
		color: greenyellow;
	}
}
.playlist-icon-container {
	position: relative;
	img {
		height: 60px;
	}
	i {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		font-size: 30px;
		padding-top: 16px;
		padding-left: 16px;
		display: none;
		background: rgba(0, 0, 0, 0.3);
	}
}

.playlist-icon-container:hover i,
.playlist-icon-container .fa-pause {
	display: block;
}

.playlist-info {
	margin: 10px 15px;
	h4 {
		font-size: 14px;
		color: greenyellow;
	}
	p {
		font-size: 10px;
		color: #ddd;
	}
}

.album-show.playlist {
	.song-info {
		margin-left: 20px;
	}
	.song .song-icon-container img {
		display: block;
	}
}

.playlist-back {
	position: absolute;
	border: none;
	color: white;
	font-size: 24px;
	bottom: 30px;
	left: 30px;
}

.search-view {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	height: fit-content;

	#main-search {
		position: absolute;
		width: 80%;
		left: 10%;
		top: 30px;
		height: 60px;
		border-radius: 35px;
		border: none;
		background: rgba(0, 0, 0, 0.9);
		box-shadow: 0px 0px 1px rgba(155, 155, 155, 0.9);
		color: white;
		padding: 10px 20px;
		font-size: 20px;
	}

	> div {
		margin-top: 120px;

		> ul {
			padding: 10px 20px;
		}
	}
}

.fa-search.small {
	font-size: 11px;
}
.fa-pause,
.fa-play {
	cursor: pointer;
}
